<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.cjh.blog.dao.CommentManageRepository">

    <resultMap id="comment_user_blog_map" type="com.cjh.blog.entity2.CommentManage">
        <id property="id" column="id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="title" column="title"></result>
        <result property="commentObject" column="comment_objcet"></result>
    </resultMap>

    <select id="selectComments" resultMap="comment_user_blog_map">
        select c.id,c.nickname,
        c.content,c.create_time,
        b.title,(select nickname from t_comment where id=c.parent_comment_id) comment_objcet
        from t_comment c,t_user u,t_blog b
        where b.user_id=u.id and b.id=c.blog_id order by c.create_time desc
    </select>

    <select id="selectCommentObj" parameterType="Long" resultType="com.cjh.blog.entity2.CommentManage">
        select * from t_comment where parent_comment_id=#{parent_comment_id}
    </select>

    <select id="selectIdByNickName" parameterType="String" resultType="Long">
        select id from t_comment where nickname=#{nickname}
    </select>

    <delete id="deleteComment" parameterType="Long">
        delete from t_comment where id=#{id}
    </delete>

    <delete id="deleteCommentByNickName" parameterType="String">
        delete from t_comment where nickname=#{nickname}
    </delete>

    <delete id="deleteCommentObj" parameterType="Long">
        delete from t_comment where parent_comment_id=#{parent_comment_id}
    </delete>

</mapper>
